<% layout('layouts/boilerplate')%>
<div class="row">
  <h1 class="text-center">Edit Place</h1>
  <div class="col-6 offset-3">
    <form
      action="/places/<%=place._id%>?_method=PUT"
      method="POST"
      novalidate
      class="validated-form"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="place[title]"
          value="<%=place.title %>"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="place[location]"
          value="<%=place.location %>"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-1">
        <label class="form-label" for="cost">Place Price</label>
        <div class="input-group">
          <span class="input-group-text" id="cost-label">$</span>
          <input
            type="text"
            class="form-control"
            id="cost"
            placeholder="0.00"
            aria-label="cost"
            aria-describedby="cost-label"
            name="place[cost]"
            value="<%=place.cost %>"
            required
          />
          <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="mb-3">
          <label class="form-label" for="per">Per</label>
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              id="per"
              placeholder="person/vehicle/ect"
              aria-label="per"
              aria-describedby="per-label"
              name="place[per]"
              value="<%=place.per %>"
            />
          </div>
          <div class="valid-feedback">Looks good!</div>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          class="form-control"
          type="text"
          id="description"
          name="place[description]"
          required
        >
<%= place.description%></textarea
        >
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <div class="form-file custom-file">
          <input
            type="file"
            class="form-file-input"
            id="image"
            name="image"
            multiple
          />
          <label class="form-file-label" for="image">
            <span class="form-file-text custom-file-label"
              >Add more image(s)...</span
            >
            <span class="form-file-button">Browse</span>
          </label>
        </div>
      </div>
      <div class="mb-3">
        <% place.images.forEach(function(img, i) { %>

        <img src="<%=img.thumbnail %>" class="img-thumbnail" alt="" />
        <div class="form-check-inline">
          <input
            type="checkbox"
            id="image-<%=i%>"
            name="deleteImages[]"
            value="<%=img.filename%>"
          />
        </div>
        <label for="image-<%=i%>">Delete?</label>
        <% })%>
      </div>
      <div class="mb-3">
        <button class="btn btn-info">Update Place</button>
      </div>
    </form>
    <a href="/places/<%= place._id%>">Back To Place</a>
  </div>
</div>
